<header>
  <span><b>Simple</b> blog</span>
  <div class="input-group">
    <label for="search">search</label>
    <input id="search" name="search" type="text" placeholder="Pesquisar no blog" [(ngModel)]="search"
      (ngModelChange)="onSearchChange($event)" />
  </div>
</header>
<main>
  @for (post of this.posts; track post.isLiked; let idx = $index) {
  <article [attr.data-id]="idx">
    <div>
      <span>{{post.postedAt}}</span>
      <input type="checkbox" name="like" [id]="'likePost'+idx" [checked]="post.isLiked"
        (change)="likePost(post, $event)">
      <label [for]="'likePost'+idx"></label>
    </div>
    <h4>{{post.title}}</h4>
    <p>{{post.content}}</p>
  </article>
  } @empty {
  <p>Eae</p>
  }
</main>