<header>
  <span><b>Simple</b> blog</span>
  <div class="input-group">
    <label for="search">search</label>
    <input id="search" name="search" type="text" placeholder="Pesquisar no blog" />
  </div>
</header>
<main>
  <article>
    <div>
      <span>17 de ago, 2024</span>
      <input type="checkbox" name="like" id="likePost0">
      <label for="likePost0"></label>
    </div>
    <h4>O que é linguagem de programação? Conheça as principais</h4>
    <p>
      Uma das mais populares vertentes da tecnologia da informação,
      a área de programação segue tendo muita demanda de trabalho
      justamente pela velocidade com que dispositivos tecnológicos vêm avançando.
    </p>
  </article>
  <article>
    <div>
      <span>17 de jul, 2024</span>
      <input type="checkbox" name="like" id="likePost1">
      <label for="likePost1"></label>
    </div>
    <h4>GitHub agora permite fazer login sem precisar de senha</h4>
    <p>
      O GitHub anunciou nesta quarta-feira (12) o acesso a partir das passkeys,
      método de autenticação sem senhas. A novidade está disponível em uma
      versão beta pública e pode substituir a autenticação em dois fatores.
    </p>
  </article>
  <article>
    <div>
      <span>21 de jun, 2024</span>
      <input type="checkbox" name="like" id="likePost2">
      <label for="likePost2"></label>
    </div>
    <h4>Por que os hiperlinks são azuis em sua maioria?</h4>
    <p>
      Quem navega na internet, certamente já percebeu que ela conta com diversos
       recursos para tornar a nossa vida mais fácil.
       ntre essas opções podemos mencionar os hiperlinks – uma palavra ou termo clicável que direciona o leitor.
    </p>
  </article>
</main>
